:root {
  --light-background: #f0f0f0;
  --light-color: #333;
  --dark-background: #232425;
  --dack-color: e0e0e0;
  --button-color: #fff;
  --button-hover-color: #555;
  --dark-button-background: #444;
  --dark-botton-color: #f5f5f5;
  --dark-hober-background: #666;
  --emotion-light: #d1a23f;
  --emotion-dark: #4cf3c1;
}

body[data-theme='light'] {
  background-color: var(--light-background);
  color: var(--light-color);
}

body[data-theme='dark'] {
  background-color: var(--dark-background);
  color: var(--dack-color);
}

button {
  background-color: var(--light-color);
  color: var(--button-color);
  border: none;
  padding: 12px 24px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 25px;
  margin-top: 20px;
}

button:hover {
  background-color: var(--button-hover-color);
  transform: scale(1.05);
}

body[data-theme='dark'] button {
  background-color: var(--dark-button-background);
  color: var(--dark-botton-color);
}

body[date-theme='dark'] button:hover {
  background-color: var(--dark-hober-background);
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

p,
div {
  margin: 5px 0;
  font-size: 1.3rem;
  line-height: 1.6;
}

.cute {
  font-weight: bold;
}

.emotion {
  color: var(--emotion-light);
  font-size: 1.5rem;
}

body[data-theme='dark'] p,
body[data-theme='dark'] div {
  background-color: rgba(0, 0, 0, 0.2);
}

body[data-theme='dark'] .emotion {
  color: var(--emotion-dark);
}
